body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  background-color:$tertiary;
  margin: 0%;
  padding: 0%;
}

table {
  border-collapse: collapse;
  width: 99.9604%;
  border-width: 1px;
  border: 1px solid rgb(0, 0, 0);
}
