.btn {
  @extend %style-btn;
  font-family: $fontFamily;
  span {
    position: absolute;
    display: block;
  }

  &_content {
    display: flex;
    align-items: center;

    p {
      margin: 10px 0.5em;
    }
  }

  @include button-line("span1", 0, -100%, 100%, 2px, 90deg, 100%, left);
  @include button-line("span2", -100%, 99%, 2px, 100%, 180deg, 100%, top, 0.25s);
  @include button-line("span3", 98%, 100%, 100%, 2px, 270deg, -100%, left, 0.5s);
  @include button-line("span4", 100%, 0, 2px, 100%, 360deg, -100%, top, 0.75s);
}

.btn-icon {
  background: none;
  border: 0;
  font-size: 22px;
  padding: 0;
  padding-top: 6px;
  cursor: pointer;
}
