.form-control {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 960px) {
    padding: 10px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
      font-family: $fontFamily;

    &-title {
      font-size: 2em;
      font-weight: bold;
      margin: 0;
      display: inline-block;
    }
  }

  &-input-label {
    @extend %input-style;
    margin-bottom: 20px;
  }

  &-input {
    @extend %input-style;
    margin-top: 20px;
  }

  &-message-error {
    color: $error;
    font-size: 0.8em;
    margin-top: 5px;
  }

  &-btn {
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #757575;
    background-color: $secondary;
    width: 5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $primary;
      color: $secondary;
    }
  }
  .btn-center {
    margin: auto;
  }
}
