.content-card-note {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px 20px 10px 20px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  width: 15em; //15em
  cursor: pointer;
  
  &:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  }

  
  .card-note {

    .content-card-title {
    
      .content-card-note-title {
        margin: 10px 0px 0px;
        font-size: 1.2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    
    
      .contente-card-note-date {
        position: absolute;
        top: 6px;
        right: 26px;
        font-size: 12px;
        color: #ccc;
      }
    
    }
    .content-card-note-content {
      max-height: 380px;
      overflow: hidden;
      font-size: 12px;
    }
  }
  

  

  .content-card-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    opacity: 0;
    transition: ease-in-out 0.2s;
    button {
      margin: 0px 2px;
      border: none;
      background: none;
      cursor: pointer;
      outline: none;
      font-size: 20px;
      color: #ccc;
      transition: ease-in-out 0.2s;
      &:hover {
        color: #000;
      }
    }
  }

  &:hover .content-card-icons {
    opacity: 1;
  }
}
